<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="title" content="断点续传demo">
    </head>
    <body>
        <h3 class="title">
            断点续传
        </h3>
        <hr>
        <table>
            <th>
                <tr>文件名</tr>
                <tr>大小</tr>
                <tr>下载进度</tr>
                <tr>状态</tr>
                <tr>操作</tr>
            </th>
            <td>
                <tr>文件名</tr>
                <tr>大小</tr>
                <tr>下载进度</tr>
                <tr>状态</tr>
                <tr>操作</tr>
            </td>
            <td></td>
            <td></td>
        </table>
    </body>
</html>